.container_div {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.your_cart_h2 {
    text-align: center;
}

.items_and_checkout_div {
    display: flex;
    align-items: start;
    gap: 20px;
}


.items_div {
    width: 100%;
}

.cart_item_div {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 16px;
    margin-bottom: 20px;
}

.item_name_span {
    font-weight: 600;
}

.delete_image {
    width: 20px;
    object-fit: fill;
}

.delete_item_link {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 10px;
    padding: 0;
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-weight: 600;
}

.delete_item_link:hover {
    color: red;
}

.summary_div {
    background-color: rgb(240, 240, 240);
    border-radius: 16px;
    padding: 20px 20px;
    flex-shrink: 0;
}

.summary_div h3 {
    margin-top: 0px;
}

.total_price_div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total_price_div span {
    font-size: 20px;
}